<html>
<head>
    <title> PassAuth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="main">
    <div id="sub-main">
        <h2> PassAuth </h2>
        <h3 align="center">
        {% if attempts %}
            {% if attempts == 1000 %}
                Oops, the username you chose is a vulnerable username, please consider using another username.
            {% else %}
                Thank you. {{ attempts }} submission(s) made!
             {% endif %}
        {% else %}
            Please continue with your previous username (if any)
        {% endif %}
        </h3>

        <div id="entry-boxes">
            <input name="un" id="input-box-un" placeholder="Username" >
            <input name="pass" id="input-box-pass" type="password" placeholder="Password" autocomplete="new-password">
        </div>
        
        <button type="submit" id="login" onclick="generateLogs()"> Login </button>
        
        <div id="logs">
            <H2>Instructions</H2>
            <OL>
                <li>Please pick up a normal 5+ character long username that you'd like to go with. Make sure that you continue using the same usernames throughout all your attempts. Please do not use generic/common usernames (e.g. admin, 123, etc.) as the system would not process such attempts.</li> <br>
                <li>Then select a password for your chosen username. EVEN THOUGH WE DO NOT STORE THE PASSWORD YOU ENTER HERE BUT ONLY THE LENGTH OF THE PASSWORD FIELD, YOU MAY - IN YOU OWN INTEREST - WANT TO USE A PASSWORD THAT IS NOT THE SAME AS A PASSWORD YOU USE ELSEWHERE.</li><br>
                <li>Please try authenticating about 20 times. You do not have to do it in one sitting as long as you use the same username across multiple sessions.</li>
            </OL>
            
            <H2>Further Details</H2>
                <b>PassAuth</b> is a research project for lowering the number of times you have to waste your time keying in passwords around the web. We very sincerely appreciate your support &#128522;

                <br>The entire codebase for the service hosted on this IP address can be found on <a href="https://github.com/davehcker/passauth"> this Github </a> repo.

                <br>If you're interested in our research work, or would want to learn more, we'd love to share our work with you. You can reach out at <b>david.ahmad@nyu.edu</b>.
        </div>
        
    </div>
    
    <script>
        (function() {
        "use strict";
        document.onmousemove = handleMouseMove;
        function handleMouseMove(event) 
        {
            var dot, eventDoc, doc, body, pageX, pageY;

            event = event || window.event; // IE-ism

            // If pageX/Y aren't available and clientX/Y
            // are, calculate pageX/Y - logic taken from jQuery
                // Calculate pageX/Y if missing and clientX/Y available
            if (event.pageX == null && event.clientX != null) {
                eventDoc = (event.target && event.target.ownerDocument) || document;
                doc = eventDoc.documentElement;
                body = eventDoc.body;

                event.pageX = event.clientX +
                  (doc && doc.scrollLeft || body && body.scrollLeft || 0) -
                  (doc && doc.clientLeft || body && body.clientLeft || 0);
                event.pageY = event.clientY +
          (doc && doc.scrollTop  || body && body.scrollTop  || 0) -
          (doc && doc.clientTop  || body && body.clientTop  || 0 );
            }

        mouseMovements.push([event.pageX, event.pageY, event.timeStamp])
        }
        })();  
         
        var hashCode = function(s){
            return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);              
        }

        var mouseMovements = new Array();
        var usernameFieldLogs = new Array();
        var passwordFieldLogs = new Array();
        
        usernameField = document.getElementById('input-box-un');
        passwordField = document.getElementById('input-box-pass');

        
        function attachDurationHandler(element, arr){
            var initTime=0;
            element.onkeydown = function(e) {
                initTime = e.timeStamp;
            };

            element.onkeyup = function(e) {
                duration = e.timeStamp-initTime;
                if (initTime){
                    arr.push(duration);
                }
            }; 
        }
        
        attachDurationHandler(usernameField, usernameFieldLogs);
        
        attachDurationHandler(passwordField, passwordFieldLogs);
        
        function generateLogs(){
            logs = document.getElementById('logs');

            /*diabled in the new release
            logs.innerHTML = '<H2> Here\'s your keystroke dynamics </H2>'
            logs.innerHTML += '<p> UserID: ' +
                            usernameFieldLogs + 
                             '</p>';
            
            logs.innerHTML += '<p> Password: ' +
                            passwordFieldLogs + 
                             '</p>';
            */
            var username = document.getElementById('input-box-un').value
            var passwordHash = hashCode(document.getElementById('input-box-pass').value);
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    var OK = 200;
                if (xhr.status === OK) {
                    window.location.href = xhr.responseText;
                    }
                else {
                    console.log ('Error: ' + xhr.status); 
                    }
                }
            };
            

            xhr.open("POST", "/submit", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({   'username': username,
                                        'passHash': passwordHash,
                                        'usernameFieldLogs': usernameFieldLogs,
                                        'passwordFieldLogs': passwordFieldLogs,
                                        'mouseMovements': mouseMovements
                                    }));
            usernameFieldLogs.splice(0, usernameFieldLogs.length);
            passwordFieldLogs.splice(0, passwordFieldLogs.length);
            mouseMovements.splice(0, mouseMovements.length);
        }

    </script>

</body>
</html>
